.form-container{
    width: 600px;
    margin: auto;
    border: 1px solid wheat;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.form-title{
    font-size: 35px;
    color: coral;
    font-weight: 400px;
}
.input-group label{
  display: block;
}
.input-group input{
   width: 415px;
   height: 55px;
   margin-left: 5px;
   font-size: 24px;
   box-sizing: border-box;
   border-radius: 5px;
   border: 1px solid gray;
}